@using WebApplication10.Models
@model EditFurnitureViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAdd</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            @if (Model.Item != null)
            {
                <form method="POST" action="/furniture/update">
                    <div class="col-md-6 offset-md-3">
                        <h1>Edit furniture item</h1>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <input type="text" class="form-control" placeholder="Name" name="name" value="@Model.Item.Name" />
                    </div>
                    <div class="col-md-6 offset-md-3 mt-3">
                        <input type="text" class="form-control" placeholder="Color" name="color" value="@Model.Item.Color" />
                    </div>
                    <div class="col-md-6 offset-md-3 mt-3">
                        <input type="text" class="form-control" placeholder="Price" name="price" value="@Model.Item.Price" />
                    </div>
                    <div class="col-md-6 offset-md-3 mt-3">
                        <input type="text" class="form-control" placeholder="Quantity In Stock" name="quantityinstock" value="@Model.Item.QuantityInStock" />
                    </div>
                    <input type="hidden" name="id" value="@Model.Item.Id" />
                    <div class="col-md-6 offset-md-3 mt-3">
                        <button class="btn btn-dark w-100">Submit</button>
                    </div>
                </form>
            }
            else
            {
                <h1>Item not found!</h1>
            }
        </div>
    </div>
</body>
</html>
